@model IEnumerable<BOL.Persona>

@{
    ViewBag.Title = "Index";
}
<br/>
<h2 class="text-center">Personas</h2>
<hr/>
<br/>
<table class="table table-bordered table-hover table-responsive table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hobbys)
        </th>
        <th>
            @Html.DisplayName("Género/sexo")
        </th>
        <th>
            @Html.ActionLink("     Agregar", "Agregar", "Persona",  new{@class ="far fa-plus-square btn btn-success col-md-11"})
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCivil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hobbys)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id=item.Id }, new{@class="fa fa-edit fa-lg btn btn-primary"}) |
                @Html.ActionLink("Info", "Detalles", new { id=item.Id }, new{@class = "fa fa-info btn btn-info"}) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id=item.Id }, new{@class = "fa fa-trash-alt btn btn-danger ml-1", onclick= "return confirmar();"})
            </td>
        </tr>
    }
</table>

@section scripts
{
    <script type="text/javascript">
        function confirmar() {
            return confirm('¿Seguro que quieres eliminar a esta persona?');
        }
    </script>
}
